In [2]:
import pandas as pd
df = pd.read_csv('2021_fies-lfs_hhmem.CSV', on_bad_lines='skip', encoding="ISO-8859-1")
df

,W_REGN,W_PROV,SEQUENCE_NO,LC101_LNO,LC03_REL,LC04_SEX,LC05_AGE,LC05A_5OVER,LC06_MSTAT,LC07_HGC_LEVEL,...,LC36_AVAIL,LC37_WILLING,LC38_PREVJOB,LC39_YEAR,LC39_MONTH,LC41_POCC,LC42INDUSTRY,LC43_QKB,NEWEMPSTAT,PWGTPRV
0,1,28,1,1,1,1,37,,2,6,...,,,,,,,...,,1,105.6973
1,1,28,1,2,2,2,46,,2,6,...,,,2,,,,...,,3,99.9517
2,1,28,1,3,3,1,16,,1,2,...,,,2,,,,...,,3,93.1776
3,1,28,1,4,3,2,9,,1,1,...,,,,,,,...,,,112.9560
4,1,28,1,5,3,1,8,,1,1,...,,,,,,,...,,,121.5757
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716017,17,59,165028,8,6,1,14,,1,2,...,,,,,,,...,,,55.5061
716018,17,59,165029,1,1,2,73,,2,1,...,,,1,2019,07,6113,VEGETABLE FARM ...,0117,3,37.4248
716019,17,59,165029,2,3,2,30,,1,2,...,,,,,,,...,,1,63.0177
716020,17,59,165029,3,3,2,27,,1,2,...,,,,,,,...,,1,63.0177
716021,17,59,165029,4,6,1,12,,1,1,...,,,,,,,...,,,55.5061

In [3]:
columns_to_drop = [
    "LC101_LNO", "LC03_REL", "LC05A_5OVER", "LC09_GRADTECH", "LC09A_NFORMAL", "LC10_CONWR",
    "LC11A_ARRANGEMENT", "LC12_JOB", "LC12A_PROVMUN", "C14_2DGT", "LC16_PKB", 
    "C16_2DGT", "LC19_PDAYS", "LC19A_PHOURS", "LC20_PWMORE", 
    "LC21_PLADDW", "LC22_PFWRK", "LC25_PBASIC", "LC26_OJOB", 
    "LC27_NJOBS", "LC28_THOURS", "LC30_LOOKW", "LC31_FLWRK", "LC32_JOBSM", 
    "LC33_WEEKS", "LC34_WYNOT", "LC35_LTLOOKW", "LC36_AVAIL", "LC37_WILLING", "LC38_PREVJOB",
    "LC42INDUSTRY", "LC43_QKB", "NEWEMPSTAT", "PWGTPRV"
]
df.drop(columns=columns_to_drop, inplace=True)
df

,W_REGN,W_PROV,SEQUENCE_NO,LC04_SEX,LC05_AGE,LC06_MSTAT,LC07_HGC_LEVEL,LC07_GRADE,LC08_CURSCH,LC11_WORK,LC14_PROCC,LC17_NATEM,LC18_PNWHRS,LC23_PCLASS,LC24_PBASIS,LC29_WWM48H,LC39_YEAR,LC39_MONTH,LC41_POCC
0,1,28,1,1,37,2,6,60913,,1,0210,1,08,2,4,12,,,
1,1,28,1,2,46,2,6,60913,,2,,,,,,,,,
2,1,28,1,1,16,1,2,24013,1,2,,,,,,,,,
3,1,28,1,2,9,1,1,10014,1,2,,,,,,,,,
4,1,28,1,1,8,1,1,10013,1,2,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716017,17,59,165028,1,14,1,2,24012,1,2,,,,,,,,,
716018,17,59,165029,2,73,2,1,10011,,2,,,,,,,2019,07,6113
716019,17,59,165029,2,30,1,2,24013,,1,5211,2,09,3,,11,,,
716020,17,59,165029,2,27,1,2,24015,,1,9211,2,08,1,3,20,,,
716021,17,59,165029,1,12,1,1,10015,1,2,,,,,,,,,

In [4]:
df.columns = df.columns.str.strip()
df

,W_REGN,W_PROV,SEQUENCE_NO,LC04_SEX,LC05_AGE,LC06_MSTAT,LC07_HGC_LEVEL,LC07_GRADE,LC08_CURSCH,LC11_WORK,LC14_PROCC,LC17_NATEM,LC18_PNWHRS,LC23_PCLASS,LC24_PBASIS,LC29_WWM48H,LC39_YEAR,LC39_MONTH,LC41_POCC
0,1,28,1,1,37,2,6,60913,,1,0210,1,08,2,4,12,,,
1,1,28,1,2,46,2,6,60913,,2,,,,,,,,,
2,1,28,1,1,16,1,2,24013,1,2,,,,,,,,,
3,1,28,1,2,9,1,1,10014,1,2,,,,,,,,,
4,1,28,1,1,8,1,1,10013,1,2,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716017,17,59,165028,1,14,1,2,24012,1,2,,,,,,,,,
716018,17,59,165029,2,73,2,1,10011,,2,,,,,,,2019,07,6113
716019,17,59,165029,2,30,1,2,24013,,1,5211,2,09,3,,11,,,
716020,17,59,165029,2,27,1,2,24015,,1,9211,2,08,1,3,20,,,
716021,17,59,165029,1,12,1,1,10015,1,2,,,,,,,,,

In [5]:
df = df.fillna('')
df

,W_REGN,W_PROV,SEQUENCE_NO,LC04_SEX,LC05_AGE,LC06_MSTAT,LC07_HGC_LEVEL,LC07_GRADE,LC08_CURSCH,LC11_WORK,LC14_PROCC,LC17_NATEM,LC18_PNWHRS,LC23_PCLASS,LC24_PBASIS,LC29_WWM48H,LC39_YEAR,LC39_MONTH,LC41_POCC
0,1,28,1,1,37,2,6,60913,,1,0210,1,08,2,4,12,,,
1,1,28,1,2,46,2,6,60913,,2,,,,,,,,,
2,1,28,1,1,16,1,2,24013,1,2,,,,,,,,,
3,1,28,1,2,9,1,1,10014,1,2,,,,,,,,,
4,1,28,1,1,8,1,1,10013,1,2,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716017,17,59,165028,1,14,1,2,24012,1,2,,,,,,,,,
716018,17,59,165029,2,73,2,1,10011,,2,,,,,,,2019,07,6113
716019,17,59,165029,2,30,1,2,24013,,1,5211,2,09,3,,11,,,
716020,17,59,165029,2,27,1,2,24015,,1,9211,2,08,1,3,20,,,
716021,17,59,165029,1,12,1,1,10015,1,2,,,,,,,,,

In [6]:
df.rename(columns={"W_REGN" : "Region", "W_PROV" : "Province", "SEQUENCE_NO" : "Family No.",
                   "LC04_SEX" : "Sex", "LC05_AGE" : "Age", "LC06_MSTAT" : "Marital Status",
                   "LC07_HGC_LEVEL" : "Highest Grade Level Completed", "LC07_GRADE" : "Highest Grade Completed",
                   "LC08_CURSCH" : "isSchooling", "LC11_WORK" : "isWorking", "LC14_PROCC" : "Primary Occupation",
                   "LC17_NATEM" : "Nature of Employment", "LC18_PNWHRS" : "Normal Working Hours Per Day",
                   "LC23_PCLASS" : "Class of Worker", "LC24_PBASIS" : "Basis of Payment",
                   "LC29_WWM48H" : "Reasons for Working >48 hours during the past week",
                   "LC39_YEAR": "Last worked (Year)", "LC39_MONTH" : "Last worked (Month)",
                   "LC41_POCC" : "Previous Occupation"}, inplace=True)
df

,Region,Province,Family No.,Sex,Age,Marital Status,Highest Grade Level Completed,Highest Grade Completed,isSchooling,isWorking,Primary Occupation,Nature of Employment,Normal Working Hours Per Day,Class of Worker,Basis of Payment,Reasons for Working >48 hours during the past week,Last worked (Year),Last worked (Month),Previous Occupation
0,1,28,1,1,37,2,6,60913,,1,0210,1,08,2,4,12,,,
1,1,28,1,2,46,2,6,60913,,2,,,,,,,,,
2,1,28,1,1,16,1,2,24013,1,2,,,,,,,,,
3,1,28,1,2,9,1,1,10014,1,2,,,,,,,,,
4,1,28,1,1,8,1,1,10013,1,2,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716017,17,59,165028,1,14,1,2,24012,1,2,,,,,,,,,
716018,17,59,165029,2,73,2,1,10011,,2,,,,,,,2019,07,6113
716019,17,59,165029,2,30,1,2,24013,,1,5211,2,09,3,,11,,,
716020,17,59,165029,2,27,1,2,24015,,1,9211,2,08,1,3,20,,,
716021,17,59,165029,1,12,1,1,10015,1,2,,,,,,,,,

In [17]:
# Change the corresponding column values to their respective names (i.e: Region "7" : "Cebu")
boolean = {
    "1": "Yes",
    "2": "No"
}

sex = {
    1: "Male",
    2: "Female",
}

province = {
    39: "Manila",
    74: "NCR-2nd Dist.",
    75: "NCR-3rd Dist.",
    76: "NCR-4th Dist.",
    1: "Abra",
    11: "Benguet",
    27: "Ifugao",
    32: "Kalinga",
    44: "Mountain Province",
    81: "Apayao",
    28: "Ilocos Norte",
    29: "Ilocos Sur",
    33: "La Union",
    55: "Pangasinan",
    9: "Batanes",
    15: "Cagayan",
    31: "Isabela",
    50: "Nueva Vizcaya",
    57: "Quirino",
    8: "Bataan",
    14: "Bulacan",
    49: "Nueva Ecija",
    54: "Pampanga",
    69: "Tarlac",
    71: "Zambales",
    77: "Aurora",
    10: "Batangas",
    21: "Cavite",
    34: "Laguna",
    56: "Quezon",
    58: "Rizal",
    40: "Marinduque",
    51: "Occidental Mindoro",
    52: "Oriental Mindoro",
    53: "Palawan",
    59: "Romblon",
    5: "Albay",
    16: "Camarines Norte",
    17: "Camarines Sur",
    20: "Catanduanes",
    41: "Masbate",
    62: "Sorsogon",
    4: "Aklan",
    6: "Antique",
    19: "Capiz",
    30: "Iloilo",
    45: "Negros Occidental",
    79: "Guimaras",
    12: "Bohol",
    22: "Cebu",
    46: "Negros Oriental",
    61: "Siquijor",
    26: "Eastern Samar",
    37: "Leyte",
    48: "Northern Samar",
    60: "Samar (Western)",
    64: "Southern Leyte",
    78: "Biliran",
    72: "Zamboanga del Norte",
    73: "Zamboanga del Sur",
    83: "Zamboanga Sibugay",
    97: "Isabela City",
    13: "Bukidnon",
    18: "Camiguin",
    35: "Lanao del Norte",
    42: "Misamis Occidental",
    43: "Misamis Oriental",
    23: "Davao",
    24: "Davao de Sur",
    25: "Davao Oriental",
    82: "Compostela Valley",
    47: "Cotabato",
    63: "South Cotabato",
    65: "Sultan Kudarat",
    80: "Sarangani",
    98: "Cotabato City",
    7: "Basilan",
    36: "Lanao del Sur",
    38: "Maguindanao",
    66: "Sulu",
    70: "Tawi-tawi",
    2: "Agusan del Norte",
    3: "Agusan del Sur",
    67: "Surigao del Norte",
    68: "Surigao del Sur"
}

region = {
    13: "National Capital Region",
    14: "Cordillera Administrative Region",
    1: "Ilocos Region",
    2: "Cagayan Valley",
    3: "Central Luzon",
    4: "CALABARZON",
    5: "Bicol",
    6: "Western Visayas",
    7: "Central Visayas",
    8: "Eastern Visayas",
    9: "Zamboanga Peninsula",
    10: "Northern Mindanao",
    11: "Davao",
    12: "SOCCSKSARGEN",
    16: "Caraga",
    15: "Autonomous Region in Muslim Mindanao",
    17: "MIMAROPA"
}

marital_status = {
    1: "Single",
    2: "Married",
    3: "Widow/Widower",
    4: "Divorced/Separated",
    5: "Annulled",
    6: "Unknown"
}

grade_level = {
    "0": "Early Childhood Education",
    "1": "Primary Education (Elementary)",
    "2": "Lower Secondary Education (Junior High School)",
    "3": "Upper Secondary (Senior High School)",
    "4": "Post-Secondary Non-Tertiary Education",
    "5": "Short Cycle Tertiary Education",
    "6": "Bachelor Level Education or Equivalent",
    "7": "Master Level Education or Equivalent",
    "8": "Doctoral Level Education or Equivalent"
}

occupation = {
    "1111": "Legislators",
    "1112": "Senior government officials",
    "1113": "Traditional chiefs and heads of villages",
    "1114": "Senior officials of special-interest organizations",
    "1120": "Managing directors and chief executives",
    "1211": "Finance managers",
    "1212": "Human resource managers",
    "1213": "Policy and planning managers",
    "1219": "Business services and administration managers not elsewhere classified",
    "1221": "Sales and marketing managers",
    "1222": "Advertising and public relations managers",
    "1223": "Research and development managers",
    "1311": "Agricultural and forestry production managers",
    "1312": "Aquaculture and fisheries production managers",
    "1321": "Manufacturing managers",
    "1322": "Mining managers",
    "1323": "Construction managers",
    "1324": "Supply, distribution and related managers",
    "1330": "Information and communications technology service managers",
    "1341": "Child care service managers",
    "1342": "Health service managers",
    "1343": "Aged care service managers",
    "1344": "Social welfare managers",
    "1345": "Education managers",
    "1346": "Financial and insurance services branch managers",
    "1349": "Professional services managers not elsewhere classified",
    "1411": "Hotel managers",
    "1412": "Restaurant managers",
    "1420": "Retail and wholesale trade managers",
    "1431": "Sports, recreation and cultural centre managers",
    "1439": "Services managers not elsewhere classified",
    "2111": "Physicists and astronomers",
    "2112": "Meteorologists",
    "2113": "Chemists",
    "2114": "Geologists and geophysicists",
    "2119": "Other physical and earth science professionals",
    "2121": "Mathematicians and actuaries",
    "2122": "Statisticians",
    "2131": "Biologists, botanists, zoologists and related scientists",
    "2132": "Farming, forestry and fisheries advisers",
    "2133": "Environmental protection professionals",
    "2141": "Industrial and production engineers",
    "2142": "Civil engineers",
    "2143": "Environmental engineers",
    "2144": "Mechanical engineers",
    "2145": "Chemical engineers",
    "2146": "Mining engineers, metallurgists and related professionals",
    "2149": "Engineering professionals not elsewhere classified",
    "2151": "Electrical engineers",
    "2152": "Electronics engineers",
    "2153": "Telecommunications engineers",
    "2161": "Building architects",
    "2162": "Landscape architects",
    "2163": "Product and garment designers",
    "2164": "Town and traffic planners",
    "2165": "Cartographers and surveyors",
    "2166": "Graphic and multimedia designers",
    "2211": "Generalist medical practitioners",
    "2212": "Specialist medical practitioners",
    "2221": "Nursing professionals",
    "2222": "Midwifery professionals",
    "2230": "Traditional and complementary medicine professionals",
    "2240": "Paramedical practitioners",
    "2250": "Veterinarians",
    "2261": "Dentists",
    "2262": "Pharmacists",
    "2263": "Environmental and occupational health and hygiene professionals",
    "2264": "Physiotherapists",
    "2265": "Dieticians and nutritionists",
    "2266": "Audiologists and speech therapists",
    "2267": "Optometrists and ophthalmic opticians",
    "2269": "Health professionals not elsewhere classified",
    "2310": "University and higher education teachers",
    "2320": "Vocational education teachers",
    "2330": "Secondary education teachers",
    "2341": "Primary school teachers",
    "2342": "Early childhood educators",
    "2351": "Education methods specialists",
    "2352": "Special need teachers",
    "2353": "Other language teachers",
    "2354": "Other music teachers",
    "2355": "Other arts teachers",
    "2356": "Information technology trainers",
    "2359": "Teaching professionals not elsewhere classified",
    "2411": "Accountants",
    "2412": "Financial and investment advisers",
    "2413": "Financial analysts",
    "2421": "Management and organization analysts",
    "2422": "Policy administration professionals",
    "2423": "Personnel and careers professionals",
    "2424": "Training and staff development professionals",
    "2431": "Advertising and marketing professionals",
    "2432": "Public relations professionals",
    "2433": "Technical and medical sales professionals",
    "2434": "Information and communications technology sales professionals",
    "2511": "Systems analysts",
    "2512": "Software developers",
    "2513": "Web and multimedia developers",
    "2514": "Applications programmers",
    "2519": "Software and applications developers and analysts not elsewhere classified",
    "2521": "Database designers and administrators",
    "2522": "Systems administrators",
    "2523": "Computer network professionals",
    "2529": "Database and network professionals not elsewhere classified",
    "2611": "Lawyers",
    "2612": "Judges",
    "2619": "Legal professionals not elsewhere classified",
    "2621": "Archivists and curators",
    "2622": "Librarians and related information professionals",
    "2631": "Economists",
    "2632": "Sociologists, anthropologists and related professionals",
    "2633": "Philosophers, historians and political scientists",
    "2634": "Psychologists",
    "2635": "Social work and counselling professionals",
    "2636": "Religious professionals",
    "2641": "Authors and related writers",
    "2642": "Journalists",
    "2643": "Translators, interpreters and other linguists",
    "2651": "Visual artists",
    "2652": "Musicians, singers and composers",
    "2653": "Dancers and choreographers",
    "2654": "Film, stage and related directors and producers",
    "2655": "Actors",
    "2656": "Announcers on radio, television and other media",
    "2659": "Creative and performing artists not elsewhere classified",
    "3111": "Chemical and physical science technicians",
    "3112": "Civil engineering technicians",
    "3113": "Electrical engineering technicians",
    "3114": "Electronics engineering technicians",
    "3115": "Mechanical engineering technicians",
    "3116": "Chemical engineering technicians",
    "3117": "Mining and metallurgical technicians",
    "3118": "Draftsmen",
    "3119": "Physical and engineering science technicians not elsewhere classified",
    "3121": "Mining supervisors",
    "3122": "Manufacturing supervisors",
    "3123": "Construction supervisors",
    "3131": "Power production plant operators",
    "3132": "Incinerator and water treatment plant operators",
    "3133": "Chemical processing plant controllers",
    "3134": "Petroleum and natural gas refining plant operators",
    "3135": "Metal production process controllers",
    "3139": "Process control technicians not elsewhere classified",
    "3141": "Life science technicians",
    "3142": "Agricultural technicians",
    "3143": "Forestry technicians",
    "3151": "Ship's engineers",
    "3152": "Ship's deck officers and pilots",
    "3153": "Aircraft pilots and related associate professionals",
    "3154": "Air traffic controllers",
    "3155": "Air traffic safety electronics technicians",
    "3211": "Medical imaging and therapeutic equipment technicians",
    "3212": "Medical and pathology laboratory technicians",
    "3213": "Pharmaceutical technicians and assistants",
    "3214": "Medical and dental prosthetic technicians",
    "3221": "Nursing associate professionals",
    "3222": "Midwifery associate professionals",
    "3230": "Traditional and complementary medicine associate professionals",
    "3240": "Veterinary technicians and assistants",
    "3251": "Dental assistants and therapists",
    "3252": "Medical records and health information technicians",
    "3253": "Community health workers",
    "3254": "Dispensing opticians",
    "3255": "Physiotherapy technicians and assistants",
    "3256": "Medical assistants",
    "3257": "Environmental and occupational health inspectors and associates",
    "3258": "Ambulance workers",
    "3259": "Health associate professionals not elsewhere classified",
    "3311": "Securities and finance dealers and brokers",
    "3312": "Credit and loans officers",
    "3313": "Accounting associate professionals",
    "3314": "Statistical, mathematical and related associate professionals",
    "3315": "Valuers and loss assessors",
    "3321": "Insurance representatives",
    "3322": "Commercial sales representatives",
    "3323": "Buyers",
    "3324": "Trade brokers",
    "3331": "Clearing and forwarding agents",
    "3332": "Conference and event planners",
    "3333": "Employment agents and contractors",
    "3334": "Real estate agents and property managers",
    "3339": "Business services agents not elsewhere classified",
    "3341": "Office supervisors",
    "3342": "Legal secretaries",
    "3343": "Administrative and executive secretaries",
    "3344": "Medical secretaries",
    "3351": "Customs and border inspectors",
    "3352": "Government tax and excise officials",
    "3353": "Government social benefits officials",
    "3354": "Government licensing officials",
    "3355": "Police inspectors and detectives",
    "3359": "Government regulatory associate professionals not elsewhere classified",
    "3411": "Legal and related associate professionals",
    "3412": "Social work associate professionals",
    "3413": "Religious associate professionals",
    "3421": "Athletes and sports players",
    "3422": "Sports coaches, instructors and officials",
    "3423": "Fitness and recreation instructors and program leaders",
    "3431": "Photographers",
    "3432": "Interior designers and decorators",
    "3433": "Gallery, museum and library technicians",
    "3434": "Chefs",
    "3435": "Artistic and cultural associate professionals not elsewhere classified",
    "3511": "Information and communications technology operations technicians",
    "3512": "Information and communications technology user support technicians",
    "3513": "Computer network and systems technicians",
    "3514": "Web technicians",
    "3521": "Broadcasting and audio-visual technicians",
    "3522": "Telecommunications engineering technicians",
    "4110": "General office clerks",
    "4120": "Secretaries (general)",
    "4131": "Typists and word processing operators",
    "4132": "Data entry clerks",
    "4211": "Bank tellers and related clerks",
    "4212": "Bookmakers, croupiers/dealers and related gaming workers",
    "4213": "Pawnbrokers and money lenders",
    "4214": "Debt collectors and related workers",
    "4221": "Travel consultants and clerks",
    "4222": "Contact center information clerks",
    "4223": "Telephone switchboard operators",
    "4224": "Hotel receptionists",
    "4225": "Enquiry clerks",
    "4226": "Receptionists (general)",
    "4227": "Survey and market research interviewers",
    "4229": "Client information workers not elsewhere classified",
    "4311": "Accounting and bookkeeping clerks",
    "4312": "Statistical, finance and insurance clerks",
    "4313": "Payroll clerks",
    "4321": "Stock clerks",
    "4322": "Production clerks",
    "4323": "Transport clerks",
    "4411": "Library clerks",
    "4412": "Mail carriers and sorting clerks",
    "4413": "Coding, proof-reading and related clerks",
    "4414": "Scribes and related workers",
    "4415": "Filing and copying clerks",
    "4416": "Personnel clerks",
    "4419": "Clerical support workers not elsewhere classified",
    "5111": "Travel attendants and travel stewards",
    "5112": "Transport conductors",
    "5113": "Travel guides",
    "5120": "Cooks",
    "5131": "Waiters",
    "5132": "Bartenders",
    "5141": "Hairdressers",
    "5142": "Beauticians and related workers",
    "5151": "Cleaning and housekeeping supervisors in offices, hotels and other establishments",
    "5152": "Household service providers",
    "5153": "Building caretakers",
    "5161": "Astrologers, fortune-tellers and related workers",
    "5162": "Companions and valets",
    "5163": "Undertakers and embalmers",
    "5164": "Pet groomers and animal care workers",
    "5165": "Driving instructors",
    "5169": "Personal services workers not elsewhere classified",
    "5211": "Stall and market salespersons",
    "5212": "Street food salespersons",
    "5221": "Shopkeepers",
    "5222": "Shop supervisors",
    "5223": "Shop sales assistants",
    "5230": "Cashiers and ticket clerks",
    "5241": "Fashion and other models",
    "5242": "Sales demonstrators",
    "5243": "Door to door salespersons",
    "5244": "Contact center salespersons",
    "5245": "Service station attendants",
    "5246": "Food service counter attendants",
    "5249": "Sales workers not elsewhere classified",
    "5311": "Child care workers",
    "5312": "Teachers' aides",
    "5321": "Health care assistants",
    "5322": "Home-based personal care workers",
    "5329": "Personal care workers in health services not elsewhere classified",
    "5411": "Firefighters",
    "5412": "Police officers",
    "5413": "Prison guards",
    "5414": "Security guards",
    "5419": "Protective services workers not elsewhere classified",
    "6111": "Rice farmers",
    "6112": "Corn farmers",
    "6113": "Vegetable, legumes and root crops farmers",
    "6114": "Sugarcane farmers",
    "6115": "Coconut farmers",
    "6116": "Other field crop farmers",
    "6117": "Tree and shrub crop growers",
    "6118": "Gardeners, horticultural and nursery growers",
    "6119": "Other market gardeners and crop growers, not elsewhere classified",
    "6121": "Livestock farmer",
    "6122": "Dairy farmer",
    "6123": "Eggs producers",
    "6124": "Chicken farmer",
    "6125": "Duck raisers",
    "6126": "Poultry producers",
    "6127": "Hog raising producers",
    "6128": "Apiarists and sericulturists",
    "6129": "Animal producers not elsewhere classified",
    "6130": "Mixed crop and animal producers",
    "6211": "Forest tree planters",
    "6212": "Concessionaires and loggers",
    "6213": "Charcoal makers and related workers",
    "6214": "Minor forest product gatherers",
    "6221": "Milkfish and tilapia producers",
    "6222": "Seaweeds producers",
    "6223": "Prawn producers",
    "6224": "Oysters and mussels producers",
    "6225": "Other aqua products producers",
    "6226": "Inland and coastal waters fishery workers",
    "6227": "Deep-sea fishery workers",
    "6228": "Hunters and trappers",
    "6229": "Fishermen not elsewhere classified",
    "6310": "Subsistence crop farmers",
    "6320": "Subsistence livestock farmers",
    "6330": "Subsistence mixed crop and livestock farmers",
    "6340": "Subsistence fishers, hunters, trappers and gatherers",
    "7111": "House builders",
    "7112": "Bricklayers and related workers",
    "7113": "Stonemasons, stone cutters, splitters and carvers",
    "7114": "Concrete placers, concrete finishers and related workers",
    "7115": "Carpenters and joiners",
    "7119": "Building frame and related trades workers not elsewhere classified",
    "7121": "Roofers",
    "7122": "Floor layers and tile setters",
    "7123": "Plasterers",
    "7124": "Insulation workers",
    "7125": "Glaziers",
    "7126": "Plumbers and pipe fitters",
    "7127": "Air conditioning and refrigeration mechanics",
    "7128": "Painters and related workers",
    "7131": "Spray painters and varnishers",
    "7132": "Building structure cleaners",
    "7211": "Metal molders and coremakers",
    "7212": "Welders and flame cutters",
    "7213": "Sheet metal workers",
    "7214": "Structural metal preparers and erectors",
    "7215": "Riggers and cable splicers",
    "7221": "Blacksmiths, hammersmiths, and forging press workers",
    "7222": "Tool makers and related workers",
    "7223": "Metal working machine tool setters and operators",
    "7224": "Metal polishers, wheel grinders and tool sharpeners",
    "7231": "Motor vehicle mechanics and repairers",
    "7232": "Aircraft engine mechanics and repairers",
    "7233": "Agricultural and industrial machinery mechanics and repairers",
    "7234": "Bicycle and related repairers",
    "7311": "Precision-instrument makers and repairers",
    "7312": "Musical instrument makers and tuners",
    "7313": "Jewellery and precious metal workers",
    "7314": "Potters and related workers",
    "7315": "Glass makers, cutters, grinders, and finishers",
    "7316": "Sign writers, decorative painters, engravers and etchers",
    "7317": "Handicraft workers in wood, basketry and related materials",
    "7318": "Handicraft workers in textile, leather and related materials",
    "7319": "Handicraft workers not elsewhere classified",
    "7321": "Pre-press technicians",
    "7322": "Printers",
    "7323": "Print finishing and binding workers",
    "7411": "Building and related electricians",
    "7412": "Electrical mechanics and fitters",
    "7413": "Electrical line installers and repairers",
    "7421": "Electronics mechanics and servicers",
    "7422": "Information and communications technology installers and servicers",
    "7511": "Butchers, fishmongers, and related food preparers",
    "7512": "Bakers, pastry cooks, and confectionery makers",
    "7513": "Dairy products makers",
    "7514": "Fruit, vegetable and related preservers",
    "7515": "Food and beverage tasters and graders",
    "7516": "Tobacco preparers and tobacco products makers",
    "7521": "Wood treaters",
    "7522": "Cabinet-makers and related workers",
    "7523": "Woodworking machine tool setters and operators",
    "7531": "Tailors, dressmakers, furriers and hatters",
    "7532": "Garment and related patternmakers and cutters",
    "7533": "Sewing, embroidery and related workers",
    "7534": "Upholsterers and related workers",
    "7535": "Pelt dressers, tanners and fellmongers",
    "7536": "Shoemakers and related workers",
    "7541": "Underwater divers",
    "7542": "Shotfirers and blasters",
    "7543": "Product graders and testers",
    "7544": "Fumigators and other pest and weed controllers",
    "7549": "Craft and related workers not elsewhere classified",
    "8111": "Miners and quarriers",
    "8112": "Mineral and stone processing plant operators",
    "8113": "Well drillers and borers and related workers",
    "8114": "Cement, stone and other mineral products machine operators",
    "8121": "Metal processing plant operators",
    "8122": "Metal finishing, plating and coating machine operators",
    "8131": "Chemical products plant and machine operators",
    "8132": "Photographic products machine operators",
    "8141": "Rubber products machine operators",
    "8142": "Plastic products machine operators",
    "8143": "Paper products machine operators",
    "8151": "Fiber preparing, spinning and winding machine operators",
    "8152": "Weaving and knitting machine operators",
    "8153": "Sewing machine operators",
    "8154": "Bleaching, dyeing and fabric cleaning machine operators",
    "8155": "Fur and leather preparing machine operators",
    "8156": "Shoemaking and related machine operators",
    "8157": "Laundry machine operators",
    "8159": "Textile, fur and leather products machine operators not elsewhere classified",
    "8160": "Food and related products machine operators",
    "8171": "Pulp and papermaking plant operators",
    "8172": "Wood processing plant operators",
    "8181": "Glass and ceramics plant operators",
    "8182": "Steam engine and boiler operators",
    "8183": "Packing, bottling and labelling machine operators",
    "8189": "Stationary plant and machine operators not elsewhere classified",
    "8211": "Mechanical machinery assemblers",
    "8212": "Electrical and electronic equipment assemblers",
    "8219": "Assemblers not elsewhere classified",
    "8311": "Locomotive engine drivers",
    "8312": "Railway brake, signal, and switch operators",
    "8321": "Motorcycle drivers",
    "8322": "Car, taxi, and van drivers",
    "8331": "Bus and tram drivers",
    "8332": "Heavy truck and lorry drivers",
    "8341": "Mobile farm and forestry plant operators",
    "8342": "Earthmoving and related plant operators",
    "8343": "Crane, hoist, and related plant operators",
    "8344": "Lifting truck operators",
    "8350": "Ship's deck crews and related workers",
    "9111": "Domestic cleaners and helpers",
    "9112": "Cleaners and helpers in offices, hotels and other establishments",
    "9121": "Hand launderers and pressers",
    "9122": "Vehicle cleaners",
    "9123": "Window cleaners",
    "9129": "Other cleaning workers",
    "9211": "Crop farm laborers",
    "9212": "Livestock farm laborers",
    "9213": "Mixed crop and livestock farm laborers",
    "9214": "Garden and horticultural laborers",
    "9215": "Forestry laborers",
    "9216": "Fishery and aquaculture laborers",
    "9311": "Mining and quarrying laborers",
    "9312": "Civil engineering laborers",
    "9313": "Building construction laborers",
    "9321": "Hand packers",
    "9329": "Manufacturing laborers not elsewhere classified",
    "9331": "Hand and pedal vehicle drivers",
    "9332": "Drivers of animal-drawn vehicles and machinery",
    "9333": "Freight handlers",
    "9334": "Shelf fillers",
    "9411": "Fast food preparers",
    "9412": "Kitchen helpers",
    "9510": "Street and related service workers",
    "9520": "Street vendors",
    "9611": "Garbage and recycling collectors",
    "9612": "Refuse sorters",
    "9613": "Sweepers and related laborers",
    "9621": "Messengers, package deliverers and luggage porters",
    "9622": "Odd job persons",
    "9623": "Meter readers and vending-machine collectors",
    "9624": "Water and firewoods collector",
    "9629": "Elementary workers not elsewhere classified",
    "0110": "Commissioned Armed Forces officers",
    "0210": "Non-commissioned Armed Forces officers",
    "0310": "Armed Forces occupations, other ranks"
}

employment_nature = {
    "1": "Permanent Job",
    "2": "Short Term",
    "3": "Different Employer"
}

class_of_worker = {
    "0": "Private Household",
    "1": "Private Establishment",
    "2": "Gov't/Gov't Corporation",
    "3": "Self Employed",
    "4": "Employer",
    "5": "With pay (Family owned Business)",
    "6": "Without Pay (Family owned Business)"
}

basis_of_payment = {
    "0": "In Kind only",
    "1": "Per piece",
    "2": "Per Hour",
    "3": "Per Day",
    "4": "Monthly",
    "5": "Pakyaw",
    "6": "Other S./Wages",
    "7": "Not salaries/wages (Commission Basis)"
}

reasons = {
    "11": "Wanted more earnings",
    "12": "Requirements of the job",
    "13": "Exceptional week",
    "14": "Ambition, passion for job",
    "15": "ECQ/Lockdown/Covid-19 Pandemic",
    "19": "Other reasons",
    "20": "Variable working time / nature of work",
    "21": "Holidays",
    "22": "Poor business condition",
    "23": "Reduction in clients / work",
    "24": "Low or off season",
    "25": "Bad weather, natural disaster",
    "26": "Strike or labour dispute",
    "27": "Start / end / change of job",
    "28": "Could only find part-time work",
    "29": "School training",
    "30": "Personal / family reasons",
    "31": "Health / medical limitations",
    "32": "ECQ/Lockdown/Covid-19 Pandemic",
    "39": "Other reasons, specify"
}

months = {
    "01": "January",
    "02": "February",
    "03": "March",
    "04": "April",
    "05": "May",
    "06": "June",
    "07": "July",
    "08": "August",
    "09": "September",
    "10": "October",
    "11": "November",
    "12": "December",
    "99": "Don't Know"
}

# Comment all of these out if you want to keep the ID's as values.
df['Previous Occupation'] = df['Previous Occupation'].replace(occupation)
df['Last worked (Month)'] = df['Last worked (Month)'].replace(months)
df['Reasons for Working >48 hours during the past week'] = df['Reasons for Working >48 hours during the past week'].replace(reasons)
df['Basis of Payment'] = df['Basis of Payment'].replace(basis_of_payment)
df['Class of Worker'] = df['Class of Worker'].replace(class_of_worker)
df['Nature of Employment'] = df['Nature of Employment'].replace(employment_nature)
df['Highest Grade Level Completed'] = df['Highest Grade Level Completed'].replace(grade_level)
#df['Highest Grade Completed'] = df['Highest Grade Completed'].replace(grade) # grade missing, needs its array will do tom
df['Primary Occupation'] = df['Primary Occupation'].replace(occupation)
df['Province'] = df['Province'].replace(province)
df['Region'] = df['Region'].replace(region)
df['Sex'] = df['Sex'].replace(sex)
df['Marital Status'] = df['Marital Status'].replace(marital_status)
df['isSchooling'] = df['isSchooling'].replace(boolean)
df['isWorking'] = df['isWorking'].replace(boolean)

df

,Region,Province,Family No.,Sex,Age,Marital Status,Highest Grade Level Completed,Highest Grade Completed,isSchooling,isWorking,Primary Occupation,Nature of Employment,Normal Working Hours Per Day,Class of Worker,Basis of Payment,Reasons for Working >48 hours during the past week,Last worked (Year),Last worked (Month),Previous Occupation
0,Ilocos Region,Ilocos Norte,1,Male,37,Married,Bachelor Level Education or Equivalent,60913,,Yes,Non-commissioned Armed Forces officers,Permanent Job,08,Gov't/Gov't Corporation,Monthly,Requirements of the job,,,
1,Ilocos Region,Ilocos Norte,1,Female,46,Married,Bachelor Level Education or Equivalent,60913,,No,,,,,,,,,
2,Ilocos Region,Ilocos Norte,1,Male,16,Single,Lower Secondary Education (Junior High School),24013,Yes,No,,,,,,,,,
3,Ilocos Region,Ilocos Norte,1,Female,9,Single,Primary Education (Elementary),10014,Yes,No,,,,,,,,,
4,Ilocos Region,Ilocos Norte,1,Male,8,Single,Primary Education (Elementary),10013,Yes,No,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716017,MIMAROPA,Romblon,165028,Male,14,Single,Lower Secondary Education (Junior High School),24012,Yes,No,,,,,,,,,
716018,MIMAROPA,Romblon,165029,Female,73,Married,Primary Education (Elementary),10011,,No,,,,,,,2019,Jul,"Vegetable, legumes and root crops farmers"
716019,MIMAROPA,Romblon,165029,Female,30,Single,Lower Secondary Education (Junior High School),24013,,Yes,Retail salespersons,Short_term,09,Self Employed,,Wanted more earnings,,,
716020,MIMAROPA,Romblon,165029,Female,27,Single,Lower Secondary Education (Junior High School),24015,,Yes,Crop farm laborers,Short_term,08,Private Establishment,Per Day,Variable working time / nature of work,,,
716021,MIMAROPA,Romblon,165029,Male,12,Single,Primary Education (Elementary),10015,Yes,No,,,,,,,,,

In [18]:
df.to_csv('fies-lfs_analysis.csv')